/* =colors
********************************************************************** */
$c-white: #fff;
$c-boulder: #7a7a7a;
$c-curious-blue: #2c8fbd;
$c-atlantis: #84b82a;
$c-kimberly: #76639b;
$c-butterfly-bush: #675190;
$c-mulled-wine: #4d3c6c;
$c-logan: #b3a8c8;

/* =background colors
********************************************************************** */
$bc-white: #fff;
$bc-black: #000;
$bc-cod-gray: #1a1a1a;
$bc-mine-shaft: #3c3c3c;

/* =fonts
********************************************************************** */

/* =font sizes
********************************************************************** */

$fontsize-xx-small: 12px;
$fontsize-x-small: 14px;
$fontsize-small: 15px;
$fontsize-standard: 16px;
$fronsize-x-medium: 20px;
$fontsize-medium: 22px;
$fontsize-large: 40px;

/* =Grid
********************************************************************** */

$g-col-normal: 400px;
$g-row-small: 340px;
$g-row-medium: 420px;
$g-row-large: 485px;

/* =Paddings, Margins
********************************************************************** */

$space-xxx-small: 2px;
$space-xx-small: 5px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 25px;
$space-large: 30px;
$space-x-large: 40px;

/* =Buttons
********************************************************************** */

$button-x-small: 13px;
$button-small: 20px;
$button-75procentage-standard: 85px;
$button-standard: 114px;
$button-medium: 140px;
$button-large: 200px;
$button-x-large: 285px;
$button-xx-large: 380px;
